<div class="container container-main">
		<div class="row">
			<div class="containter text-center profile">
				<div class="edit">
					<span class="label label-danger" id="editProfile">
						<i class="glyphicon glyphicon-cog"></i> Edit Profile
					</span>
				</div>
				<img src="/app/assets/img/user.png" width="120" height="120" border="0" class="img-circle">
				<br /><br />
				<h1 class="media-heading"> {{ auth.profile.name}}<small>{{user.role}}</small></h1>.
				<div class="text-left">
					<div class="profile-list">
						<strong>Skills:</strong>
						<ul class="list-inline">
							<li ng-repeat="skill in user.skills"><span class="label label-success">{{skill}}</span></li>
							
						</ul>
					</div>
					<br />
					<div class="profile-list">
						<strong>Interests:</strong>
						<ul class="list-inline">
							<li ng-repeat="interest in user.interests"><span class="label label-success">{{interest}}</span></li>
							
						</ul>
					</div>
					<br />
					
				</div>
			</div>
			
			<hr class="featurette-divider-sm">
			<h2>My Current Projects</h2>
			<div class="row">
				<div class="col-md-4 text-center" ng-repeat="project in projects">
					<img class="img-circle" src="http://placehold.it/140x140">
					<h3>{{project.title}}</h3>
					<p>{{project.description}}</p>
					<p><a class="btn btn-default" href="/project/#/{{project._id}}">View details »</a></p>
				</div>
			</div><!-- /.row -->
			<hr class="featurette-divider-sm">
			<h2>My Completed Projects</h2>
			<div class="row">
				
				<div class="col-md-4 text-center" ng-repeat="project in completedProjects">
					<img class="img-circle" src="http://placehold.it/140x140">
					<h3>{{project.title}}</h3>
					<p>{{project.description}}</p>
					<p><a class="btn btn-default" href="/project/#/{{project._id}}">View details »</a></p>
				</div>
			</div><!-- /.row -->
	    </div>
	</div><!-- /.container -->